<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>FRONTEND LIBRARY</title>
</head>

<body>
    <!--break-->
    <nav class="navbar navbar-light bg-dark">
        <h1>BookBox</h1>
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Book title" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <button class="logout" type="submit" href="logout">logout</button>
            </form>
        </div>
    </nav>
    <!--section2-->
    <br>

    <div>
        <div class="blocks">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41xShlnTZTL._SX376_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Clean Code</p>
        </div>
        <div class="blocks"><img src="https://deepreinforcementlearningbook.org/assets/images/cover_v1.png" alt="" width="180px">
            <p>Reinforcement Learning</p>
        </div>
        <div class="blocks"><img src="https://m.media-amazon.com/images/P/B00CTZ290I.01._SCLZZZZZZZ_SX500_.jpg" alt="" width="180px">
            <p>Data Structures And Algorithims</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1391032531i/515601.jpg" alt="" width="180px">
            <p>C programming</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/51W1bWzFu+L._SX383_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Distributed Computing System</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/41qmoD18zZL._SY344_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Autonomous Robotics</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/51u+tYbBQLL._SX327_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Imitation Game</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/51EE19kiTFL._SX311_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Computability Approach</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/41meVhRo7dL._SX326_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Brains, Machines and mathematics</p>
        </div>
        <div class="blocks"><img src="https://images-na.ssl-images-amazon.com/images/I/419vA469DCL._SX331_BO1,204,203,200_.jpg" alt="" width="180px">
            <p>Smart Card Research</p>
        </div>

        <button class="btn btn-outline-success" style="margin-left:1200px  ; margin-top: 50px;margin-bottom: 50px;" type="submit">Next...</button>





    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<style>
    .logout {
        background-color: white;
        margin-left: 1000px;
        color: rgb(25, 24, 24);
        border: 0px;
        border-radius: 5px;
    }
    
    .logout:hover {
        background-color: rgb(8, 96, 8);
        ;
        border-color: rgb(8, 96, 8);
        color: rgb(253, 253, 253);
        ;
        text-align: center;
        opacity: 0.6;
        transition: 0.3s;
    }
    
    .blocks {
        display: inline-block;
        margin-left: 60px;
        height: 50px;
    }
    
    class="btn btn-outline-success"
</style>

</html>